#cover{ 
border: 2px solid red;
height:200px ;
width: 200px;
margin: 220px; ;

}


#content{
    height: 200px; ;
    width:200px ;
    background-color: yellow;
    transform: perspective(300px) rotate3d(0px,0px,50px);
}