

ul{
    background-color:red;
    list-style-type: none;
    overflow: auto;
}
li{
    color: white;
    padding: 10px 15px;
    float: left;

}



#content{
    width:70% ;
    background-color: blue;
    height:200px;
    float :left;
    
}

#sidebar{
    width: 30%;
    background-color: indianred;
    height: 200px;
    float: left;

}
#Footer{
    background-color: green;
    
}
